<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463470368188-l059i04t2koa8vko63vq70cus4d9lsup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463470368188-l059i04t2koa8vko63vq70cus4d9lsup</string>
	<key>API_KEY</key>
	<string>AIzaSyCvTYtKFccIGJpXGZ4wez6qQZHYpUMa-lg</string>
	<key>GCM_SENDER_ID</key>
	<string>463470368188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookbox</string>
	<key>PROJECT_ID</key>
	<string>bookbox-a4a76</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbox-a4a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463470368188:ios:b4fcc0cfd14e26b904c7b9</string>
</dict>
</plist>